.ios {
    display: none;
}
label {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    width: 50px;
    height: 26px;
}
label {
    position: relative;
}
label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; 
    height: 24px; 
    border-radius: 16px;
    background: #fff;
    border: 1px solid #d9d9d9;
    transition: all 0.3s;
}
label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.ios:checked + label {
    background-color: #55D069;
    transition: 0.8s;
}
.ios:checked + label:after {
    left: 26px;
}

